.Stunden {
    background: linear-gradient(
        50deg, 
        blue,
        lightgreen
    );
    padding: 40px;
    color: white;
    text-align: center;
}

img {
    height: 60px;
    padding-left: 260px;
    
}

body {
    background: linear-gradient(
        50deg, 
        blue,
        lightgreen
    );
    color: white;
    background-attachment: fixed;
}

#tbody {
    color: white;
    padding: 60px;
    font-size: medium;
    padding-bottom: 50;
}


.info {
    padding-top: 390px;
}

